<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create form page</title>
</head>

    <body>
        <main>
            <div class="book_details">
                <h1>{{book.title}}</h1>
                <h2>{{book.author}}</h2>
                <p>Pages: {{book.number_of_pages}}</p>
                <p>ISBN: {{book.isbn}}</p>
                <p>Published: {{book.publish_date}}</p>
                <p><img src="{{ book.cover }}" height="200"></p>
            </div>
            
            <div class="data">
                <div class="update_and_delete">
                    <a href="{% url 'update_view' book.pk %}"><button>Update</button></a> <a href="{% url 'delete_view' book.pk %}"><button>Delete</button></a>
                  </div>
            </div>
        </main>
    </body>

</html>