<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>Delete this book</h1>

            <div class="main">
                <!-- Create a Form -->
                <form method="POST">
                    <!-- Security token by Django -->
                    {% csrf_token %}
                    <p>Delete the book?</p>
                    <input type="submit" value="Delete this book" />
                    <form>
                        <input type="button" value="No" onclick="history.back()">
                    </form>
                </form>
            </div>
        </div>
    </main>
</body>
</html>