{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BOOKS HERE</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="book">
        {% for book in books %}
            <div class="individual_books">
                <a href="{% url 'show_book' book.pk %}"><img src="{{ book.cover }}" height="200">
                <p>{{ book.title }} by {{ book.authors }}</p></a>
                <p>{{ book.number_of_pages }} pages</p>
                <p>Published: {{ book.publish_date }}</p>
                <p>ISBN: {{ book.isbn }}</p>
                <p>In Print? {{ book.if_in_print }}</p>
                <div class="update_and_delete">
                  <a href="{% url 'update_view' book.pk %}"><button>Update</button></a> <a href="{% url 'delete_view' book.pk %}"><button>Delete</button></a>
                </div>
            </div>
        {% endfor %}
    </div>
  </main>
</body>

</html>