<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MAGAZINE LIST</title>
</head>
<body>
    <main>
        <div class = "mag_block">
            {%for mags in magazines%}
                <a href="{% url 'show_magazine' mags.pk %}"><p>Title: {{mags.title}}</p></a>
                <p><img src="{{mags.cover}}" height="200"></p>
                <p>Description: {{mags.description}}</p>
                <p>Publication: {{mags.release_cycle}}</p>
                <a href="{% url 'magazine_update' mags.pk %}"><button>Update</button></a> <a href="{% url 'delete_magazine' mags.pk%}"><button>Delete</button></a>
            {% endfor %}
        </div>
    </main>
</body>
</html>