<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazine Issues Details</title>
</head>
<body>
    <main>
        <p>THIS SHOULD BE SPECIFIC MAGAZINE TITLE WITH THEIR ISSUES LISTED</p>
        <div>
            {%for issues in mag_and_issues%}
                <p>{{issues.magazine}}</p>
                <p>{{issues.issue_info}}</p>
                <p>{{magazine.all}}</p>
            {%endfor%}
        </div>
    </main>
</body>
</html>