<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magazine Issues Details</title>
</head>
<body>
    <main>
        <p>GENRE GENRE GENRE</p>
        <div>
            {% comment %} {{magazine_genre.genre_name}} {% endcomment %}
            <p>Genre: {{magazine_genre.genre_name}}</p>
            {% for magazine in magazine_genre.mag_genre.all%}
                <p>Name: {{magazine.title}}</p>
            {% endfor%}
        </div>
    </main>
</body>
</html>