<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{magazine.title}}</h1>
    <img src="{{magazine.cover}}" height="200">
    <body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="magazine-card">
        {% comment %} <p>{{magazine.issues.title}}</p> {% endcomment %}
        <p>Title: {{ magazine.title }}</p>
        {% for issue in magazine.issues.all %}
          <p>Issue: {{ issue.title }}</p>
        {% endfor %}
        <p>Description: {{ magazine.description }}</p>
      </div>
  </main>
</body>
    <a href="{% url 'magazine_update' magazine.pk %}"><button>Update</button></a> <a href="{% url 'delete_magazine' magazine.pk%}"><button>Delete</button></a>
</body>
</html>